footer {
    background-color: var(--color-primary);
    position: relative;
    bottom: 0px;
    width: 100%;
}

footer .footer-brand img {
    width: 25%;
    margin: 10px 0px;
    text-align: center;
}


footer .footer-nav ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

footer .footer-redes img {
    display: inline;
    width: 40px;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    footer {
        background-color: var(--color-primary);
        position: relative;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }

    footer .footer-brand img {
        width: 40%;
        margin: 35px 0px;
    }

    footer .footer-p p {
        margin: 33px 0px;
    }

    footer .footer-nav ul {
        margin: 10px;
    }

    footer .footer-redes img {
        display: inline;
        width: 50px;
        padding: 5px;
        margin: 33px 0px;
    }
}