/* ---- Colors ---- */
$color-primary: #FFDABD;
$color-secundary: #BC580C;
$color-accent: #522D11;
$color-white: #ffffff;


/* ---- Family ---- */
$family: 'Montserrat', sans-serif;


/* ---- Sizes ---- */
$h1: 35px;
$h2: 25px;
$h3: 23px;